@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables
$primary-color: #2c3e50;
$secondary-color: #bdc3c7;
$highlight: #00aaff;

// Default Styling
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

// Layout
.container {
    width: 100%;
    max-width: 100%;
}

// Navbar
.navbar {
    position: fixed;
    top: 0;
    background-color: $primary-color;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: $secondary-color;

    h1 {
        font-size: 2rem;
    }

    ul {
        list-style-type: none;
        li {
            &:last-child {
                margin-right: 2rem;
            }

            a {
                text-decoration: none;
                color: $secondary-color;
                font-size: 1.5rem;

                &:hover {
                    color: $highlight;
                }
            }
        }
    }
}

// Banner
.banner {
    .particles-container {
        canvas {
            max-width: 100%;
            height: 100%;
            background: #bdc3c7; /* fallback for old browsers */
            background: -webkit-linear-gradient(
                to top,
                $primary-color,
                $secondary-color
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to top,
                $primary-color,
                $secondary-color
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

// Projects
.project-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 80%;
}
