// Variables
$primary-color: blue;

// Default Styling
* {
    margin: 0;
    padding: 0;
}

// Banner
.banner {
    height: 100vh;
    width: 100vw;
    .particles-container {
        height: 100%;
        width: 100%;
        background-color: #b61924;

        canvas {
            background-color: black;
        }
    }
}
