@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables
$primary-color: blue;

// Default Styling
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

// Navbar
.navbar {
    position: fixed;
    top: 0;
    background-color: #2c3e50;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #fff;

    h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }

    ul {
        list-style-type: none;
        li {
            &:last-child {
                margin-right: 2rem;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;

                &:hover {
                    color: #00aaff;
                }
            }
        }
    }
}

// Banner
.banner {
    height: 100vh;
    width: 100vw;
    .particles-container {
        height: 100%;
        width: 100%;

        canvas {
            background: #bdc3c7; /* fallback for old browsers */
            background: -webkit-linear-gradient(
                to top,
                #2c3e50,
                #bdc3c7
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to top,
                #2c3e50,
                #bdc3c7
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}
